<section class='hero is-primary is-fullheight'>
  <div class='hero-head'>
    <div class='level'>
      <div class='level-item'>
        <a class='link'>
          <img src='assets/angular-icon.svg'> Angular {{ versions.angular }}
        </a>
      </div>
      <div class='level-item'>
        <a class='link'>
          <img src='assets/bulma-icon.svg'> Bulma {{ versions.bulma }}
        </a>
      </div>
      <div class='level-item'>
        <img class='logo' src='assets/angular-electron-primeng.svg'>
      </div>
      <div class='level-item'>
        <a class='link'>
          <img src='assets/electron-icon.svg'> Electron {{ versions.electron }}
        </a>
      </div>
      <div class='level-item'>
        <a class='link'>
          <img src='assets/primeng-icon.svg'> PrimeNG {{ versions.primeng }}
        </a>
      </div>
    </div>
  </div>
  <div class='hero-body'>
    <router-outlet></router-outlet>
  </div>
  <div class='hero-foot'>
  </div>
</section>
