@import '../styles.scss';

.hero {
  // background: radial-gradient(circle at center, mat-color($primary, A500), mat-color($primary, A700));
  background-color: mat-color($primary);
}

:host {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.main-content {
  background-color: mat-color($primary);
  flex: 1 0 0;
  height: 100%;
}
