@import '../../styles.scss';

:host {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #222;
  padding: 24px;
  @extend .mat-elevation-z6;
}

.resize {
  position: absolute;
  background-color: mat-color($secondary);
  width: 5px;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: col-resize;
}

